---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, description, url, image, alt, badge, price, oldPrice } = {
  url: "/store/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  alt: Astro.props.post.data.image.alt,
  badge: Astro.props.post.data.badge,
  price: new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: Astro.props.post.data.currency ?? "USD",
  }).format(Astro.props.post.data.price),
  oldPrice: Astro.props.post.data.oldPrice
    ? new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: Astro.props.post.data.currency ?? "USD",
      }).format(Astro.props.post.data.oldPrice)
    : null,
};
---

<article class="relative flex flex-col group h-full">
  <a
    href={url}
    title={`View product: ${title}`}
    aria-label={`View product: ${title}`}
    class="absolute inset-0 z-10"></a>
  <div class="relative">
    <span
      class="absolute top-3 left-3 z-10 px-3 py-1 text-xs font-semibold uppercase bg-base-950 text-white"
    >
      {badge}
    </span>
    <Image
      src={image}
      alt={alt}
      width={800}
      height={700}
      loading="eager"
      decoding="async"
      class="object-cover object-center w-full aspect-4/3 object-top"
    />
  </div>
  <div class="mt-4">
    <Text tag="h3" variant="textBase" class="font-medium text-white uppercase">
      {title}
    </Text>
    <Text tag="p" variant="textSM" class="text-base-500 mt-2">
      {description}
    </Text>
    <div class="flex items-center gap-2 mt-4">
      <span class="text-white font-medium text-sm">{price}</span>
      <span class="text-base-500 line-through text-xs">{oldPrice}</span>
    </div>
  </div>
</article>
