---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, summary, url, image } = {
  url: "/work/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  summary: Astro.props.post.data.summary,
  image: Astro.props.post.data.image.url,
};
---

<article class="relative flex flex-col group h-full">
  <a
    href={url}
    title={`View case study: ${title}`}
    aria-label={`View case study: ${title}`}
    class="absolute inset-0 z-10"></a>
  <Image
    src={image}
    alt={title}
    width={800}
    height={700}
    loading="eager"
    decoding="async"
    class="object-cover object-center w-full aspect-4/3"
  />
  <div class="mt-4">
    <Text tag="h3" variant="textBase" class="font-medium text-white uppercase"
      >{title}</Text
    >
    <Text tag="p" variant="textSM" class="text-base-500 mt-2">{summary}</Text>
  </div>
</article>
